* {
	margin: 0; }
	
body {
	font-size: 10px;
	background-image: linear-gradient(to right, #666, #fff); }

.inline {
	display: inline-block; }
	
.block {
	display: block; }	
	
.center {
	text-align: center; }	

/******Landing screen******/
.overlay {
	position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; }

#ol1 {
   background-color: black;
  	opacity: 0.8;
   /*transition: opacity 400ms ease-out 0ms;*/ }

#ol2 {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
	align-items: center; }

#landing-screen-wrap {
	width: 100%; }

#title {
	font-size: 20px;
	margin: 10px 0;
	color: #999; }

#handle-submit {
	margin: 0 0 50px 0; }
/*^^^^^Landing screen^^^^^*/



/******logo******/
#myChat {
	font-size: 20px;
	margin: 10px; }
/*^^^^^logo^^^^^*/	
	
	

/******Chat screen******/
#wrap-all {}

#output {
	margin-left: 10px;
	color: #fff; }
	
#chat-area {
	float: left;
	width: 80%; 
	min-height: 85vh; }
	
#chatters {
	text-align: right;
	color: #666;
	width: 15%;
	min-height: 85vh; }
	
.chatter {}
/*^^^^^chat screen^^^^^*/



/******chat controls******/
#controls {
	margin-bottom: 10px; }
	
#message {
width: 80%; }

#sendBtn {
width: 15% }
/*^^^^^chat controls^^^^^*/


